.app-wrapper{
    margin: 0px auto;
    display: grid;
    grid-template-areas:
            "h h "
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    width: 1200px;

}

.header{
    grid-area: h;
    background-color: green;
}
.header img{
    width: 40px;
    height: 40px;
}

.nav{
    grid-area: n;
    background-color: burlywood;
}


.content{
    grid-area: c;
    background-color: cornflowerblue;

}

.content img {
    width: 90%;

}
