.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems img {
    width: 63px;
    height: 65px;
    border-radius: 55px;
}
.dialogsItems .active{
    color: gold;

}

.messages {
    padding: 10px;
}

.messages .message {

}