.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems img {
    width: 63px;
    height: 65px;
    border-radius: 55px;
}
.dialogsItems .active{
    color: gold;

}

.messages {
    padding: 10px;
}

.messages .message {

}
.dialogMi{
    height: 50px;
    width: 100%;
   display: flex;
    justify-content: flex-end;
}
.dialogYour{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.wind__dialog_mi{
    height: 100%;
  border: 1px solid black;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: azure;
}
.wind__dialog_your{
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
    background: aquamarine;
}