.friendsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ava {
    object-fit: cover;
}
.name {}